---
title: "Monkey City Studios"
---

<header>
  <div class="container">
    <div class="logo">
      <h1>Monkey City Studios</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
      </ul>
    </nav>
  </div>
 </header>