---
title: "Welcome to Monkey City Studios"
description: "Your partner in innovative development solutions."
---

<section class="hero">
  <div class="container">
    <div class="hero-content">
      <div class="hero-content--row">
        <img src="/assets/images/logo.png" alt="Monkey City Studios logo" class="hero-logo hero-logo--aside" />
        <h1>Welcome to Monkey City Studios</h1>
      </div>
      <p>Your partner in innovative development solutions.</p>
      <a href="/contact" class="cta-button">Get in Touch</a>
    </div>
    <div class="hero-image">
      <img src="/assets/images/heroImage1.jpg" alt="Hero Image" />
    </div>
  </div>
 </section>